---
dist: xenial
language: python
python: 3.7
# pre-commit hooks can use Docker, so we should go ahead and enable it
services: docker
env:
  global:
    - CURL_CACHE_DIR="$HOME/.cache/curl"

# Cache pip packages, pre-commit plugins, and some curl downloads to
# speed up builds
cache:
  pip: true
  directories:
    - $HOME/.cache/pre-commit
    - $CURL_CACHE_DIR

before_install:
  # Make a cache directory for curl downloads
  - mkdir -p $CURL_CACHE_DIR
  # Install terraform
  - curl --output "${CURL_CACHE_DIR}/${TERRAFORM_ZIP}"
      --time-cond "${CURL_CACHE_DIR}/${TERRAFORM_ZIP}" --location
      "https://releases.hashicorp.com/terraform/${TERRAFORM_VERSION}/${TERRAFORM_ZIP}"
  - sudo unzip -d /opt/terraform "${CURL_CACHE_DIR}/${TERRAFORM_ZIP}"
  - sudo ln -s /opt/terraform/terraform /usr/bin/terraform

install:
  - pip install --upgrade -r requirements-test.txt
script:
  - pre-commit run --all-files
